/*@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
*/

/*@import url("/fonts/opensans/stylesheet.css");
@import url("/fonts/montserrat/stylesheet.css");
@import url("/fonts/roboto/stylesheet.css");
@import url("/fonts/playfair/stylesheet.css");
@import url("/fonts/ionicons.min.css");
@import url("/fonts/font-awesome.min.css");
@import url("/fonts/maitree/stylesheet.css");
@import url("/fonts/acumin/stylesheet.css");
@import url("/css/pageloader.css");
@import url("/css/bootstrap.min.css");
@import url("/js/vendor/swiper.min.css");
@import url("/js/vendor/jquery.fullpage.min.css");
@import url("/js/vegas/vegas.min.css");
@import url("/css/main.css");
@import url("/css/style-default.css");
*/